@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background: #F6DED8;
    background: linear-gradient(0deg, rgba(246, 222, 216, 1) 29%, rgba(242, 178, 140, 1) 65%, rgba(184, 33, 50, 1) 100%);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

main {
    text-align: center;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    background-color: #F6DED8;
    /* margin-top: 75px; */
}

.game-title {
    padding-top: 20px;
    color: #B82132;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 150px;
    margin: 120px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.cell {
    font-family: "Inter", sans-serif;
    width: 50px;
    height: 50px;
    border: 1px solid #B82132;
    cursor: pointer;
    line-height: 50px;
    font-size: 20px;
    background-color: #F6DED8;
    color: #B82132;
}

button {
    margin-bottom: 20px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: #B82132;
    background-color: #D2665A;
    cursor: pointer;
}

button:hover {
    transition: 0.25s;
    background-color: #F2B28C;
}